.redcss{
    content:url("./logo/upload/Red-CSS-Logo.png");
    vertical-align:text-bottom;
}
.redhtml{
    content:url("./logo/upload/Red-HTML-Logo-2.png");
    vertical-align:text-bottom;
}
.redcode{
    content:url("./logo/upload/Red-Code-INC-Logo-2.png");
    vertical-align:text-bottom;
}
.redicons{
    content:url("https://codehs.com/uploads/24e9b32d9dd45d0ceafabf638179342c");
    vertical-align:text-bottom;
}